.columns {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.column {
  display: flex;
  align-items: center;
  flex-basis: 50%;
}

.column:last-child {
  border-left: 1px solid currentColor;
  text-align: right;
}

.columnLeft {
  flex-direction: row-reverse;
}

.section {
  padding-bottom: .5rem;
  cursor: pointer;
}

.sectionTitle {
  display: flex;
  margin: .8rem 0 0.3rem;
  justify-content: space-between;
}

.sectionTitle h3 {
  font-size: 1.3rem;
  text-align: center;
  text-transform: uppercase;
  font-weight: normal;
  display: flex;
  align-items: center;
  margin: 0 1rem;
  cursor: pointer;
}

.sectionTitle h3:hover {
  color: red;
}

.sectionTitle h3 span {
  font-size: .6rem;
  padding-left: 5px;
  margin-right: -15px;
}

.leftSide,
.rightSide {
  flex-basis: 25%;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.gainDelta {
  flex-wrap: nowrap;
  display: flex;
  align-items: center;
}

.rightSide .gainDelta {
  flex-direction: row-reverse;
}

.gain {
  margin: 0 .8rem;
  color: #c9c703;
  font-size: .9rem;
  cursor: help;
}

.delta {
  color: #d0d0d0;
  white-space: nowrap;
}

.rightSide .delta {
  text-align: right;
}

@media (max-width: 600px) {
  .sectionTitle .delta {
    width: 100%;
  }
}

.rightSide {
  flex-direction: row-reverse;
}


.leftSide .gain {
  margin: 0 .8rem 0 0;
}

.rightSide .gain {
  margin: 0 0 0 .8rem;
}

.total {
  font-size: 1.3rem;
  color: red;
}

.leftSide .total {
  margin-right: 0.8rem;
}

.rightSide .total {
  margin-left: 0.8rem;
}

.total.wrong {
  text-decoration: line-through;
  color: red;
  opacity: 0.2;
}

.categoriesWrapper {
  display: flex;
}

.section .categories {
  list-style: none;
  margin-top: 0.3rem;
  width: 100%;
}

.section .categories li {
  width: 100%;
  margin-bottom: .2rem;
  display: flex;
  justify-content: space-between;
}

.section .categories .num {
  display: inline-block;
  width: 60px;
}

.section .categories .num:last-child {
  text-align: right;
}

.section .categories li:hover {
  color: red;
}

.section .categories .state {
  margin: 0 auto;
}

.detailsWrapper {
  padding: 1rem 0;
  background-color: #f3f1f1;
}

@media (prefers-color-scheme: dark) {
  .detailsWrapper {
    background-color: #3a3939;
  }
}

.ratioWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.ratio {
  text-align: center;
  color: #c3c3c3;
  font-size: 1.3rem;
}

.ratioDelta {
  color: #d0d0d0;
  text-align: center;
  margin-left: 1rem;
  position: absolute;
  transform: translateX(100%);
}

@media (prefers-color-scheme: dark) {
  .ratio {
    color: #d01515;
  }
  .ratioDelta {
    color: #b66d6d;
  }
}

.itemsWrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0 5% auto;
  list-style: none;
}
