.columns {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.column {
  display: flex;
  align-items: center;
  flex-basis: 50%;
}

.column:last-child {
  border-left: 1px solid currentColor;
  text-align: right;
}

.columnLeft {
  flex-direction: row-reverse;
}

.section {
  padding-bottom: .5rem;
  cursor: pointer;
}

.sectionTitle {
  display: flex;
  margin: .8rem 0 0.3rem;
}

.sectionTitle h3 {
  font-size: 1.3rem;
  text-align: center;
  text-transform: uppercase;
  font-weight: normal;
  display: flex;
  align-items: center;
  margin: 0 auto;
  cursor: pointer;
}

.sectionTitle h3:hover {
  color: red;
}

.sectionTitle h3 span {
  font-size: .6rem;
  padding-left: 5px;
  margin-right: -15px;
}

.leftSide,
.rightSide {
  flex-basis: 25%;
  display: flex;
  align-items: center;
}

.sectionTitle .gain {
  margin: 0 .8rem;
  color: #c9c703;
  font-size: .9rem;
  cursor: help;
}

.sectionTitle .delta {
  color: #d0d0d0;
}

.rightSide {
  flex-direction: row-reverse;
}

.sectionTitle .total {
  font-size: 1.3rem;
  color: red;
}

.categoriesWrapper {
  display: flex;
}

.section .categories {
  list-style: none;
  margin-top: 0.3rem;
  width: 100%;
}

.section .categories li {
  width: 100%;
  margin-bottom: .2rem;
  display: flex;
  justify-content: space-between;
}

.section .categories .num {
  display: inline-block;
  width: 60px;
}

.section .categories .num:last-child {
  text-align: right;
}

.section .categories li:hover {
  color: red;
}

.section .categories .state {
  margin: 0 auto;
}

.detailsWrapper {
  padding: 1rem 0;
  background-color: #f3f1f1;
}

@media (prefers-color-scheme: dark) {
  .detailsWrapper {
    background-color: #3a3939;
  }
}

.itemsWrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0 5% auto;
  list-style: none;
}

.itemsWrapper .itemTitle {
  display: flex;
  cursor: pointer;
  font-size: 1rem;
  margin-bottom: 3px;
}

.itemsWrapper .itemTitle:hover,
.itemsWrapper .itemTitle.active {
  color: red;
}

.itemsWrapper .itemName {
  margin-right: auto;
  text-align: left;
  font-size: 1.1rem;
}

.itemLinksWrapper {
  background-color: #d5d5d5;
  text-align: left;
  padding: .5rem .2rem;
  list-style: none;
  font-size: 0.95rem;
  margin-bottom: .3rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(90px, 1fr));
  grid-column-gap: 8px;
  grid-row-gap: 5px;
}

.itemLinksWrapper li {
  line-height: 0.9rem;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

@media (prefers-color-scheme: dark) {
  .itemLinksWrapper {
    background-color: #505050;
  }
}

.itemLinksWrapper a {
  color: currentColor;
  text-decoration: none;
  line-height: .2;
}

.itemLinksWrapper li:hover {
  color: red;
}

.ratio {
  text-align: center;
  color: #c3c3c3;
}

@media (prefers-color-scheme: dark) {
  .ratio {
    color: #676666;
  }
}
